*.pyc
__pycache__/
venv/
.vscode/
.DS_Store
.csv
.doc
.docx
.pdf
.txt
.xlsx
.ipynb_checkpoints/
.idea/
.vscode/
.vscode-server/
.vscode-test/
.vscode-web/
.vscode-remote/
.vscode-remote-release/
.vscode-remote-release-attachments/
.vscode-remote-release-attachments-*
.vscode-oss/
.vscode-test-*
.vscode-test-*/
.vscode-test-*/testWorkspace/
.vscode-test-*/testWorkspace/.vscode/
.vscode-test-*/testWorkspace/.vscode-remote/
